force-app/main/default/flows/Error_Log_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_Email</name>
        <label>Send Notification Email</label>
        <locationX>182</locationX>
        <locationY>1919</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Email_In_Loop</name>
        <label>Send Notification Email In Loop</label>
        <locationX>138</locationX>
        <locationY>1367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reset_Email_Address_And_Counter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Email_Address_to_List</name>
        <label>Add Email Address to List</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Apex_Email_Notifications.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Email_to_List</name>
        <label>Add User Email to List</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Email_Address_And_Counter</name>
        <label>Reset Email Address And Counter</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddressEmpty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Apex_Email_Notifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>270</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Count_5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Set</name>
        <label>Email Set</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Get_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Apex_Email_Notifications.UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Address_to_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Don&apos;t execute if there are no recipients in Apex Exception Emails list</description>
        <name>Has_Recipients</name>
        <label>Has Recipients</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddresses</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Count_5</name>
        <label>Is Count =5</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Apex_Email_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>count &lt; 5</defaultConnectorLabel>
        <rules>
            <name>Count_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_Email_In_Loop</targetReference>
            </connector>
            <label>Count =5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Silent_Error</name>
        <label>Is Silent Error</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Silent_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Apex_Email_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow runs after an Error Log record is created. For Error Log records where Silent Error is checked, this flow sends an email notification to users and emails configured in Apex Exception Email in Setup. Due to a Salesforce limit where emails can only be sent to 5 email addresses at once, this Flow may send out more than one Email.</description>
    <formulas>
        <name>NotificationEmailBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Error_Message__c}</expression>
    </formulas>
    <formulas>
        <name>NotificationEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;A silent error was logged in Salesforce: &apos;&amp;{!$Record.Name}&amp;&apos; from &apos;&amp;TEXT({!$Record.Error_Location__c})&amp;&apos; &apos;&amp;{!$Record.Apex_Class_Flow_Name__c}</expression>
    </formulas>
    <interviewLabel>Error Log - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Error Log - After Create</label>
    <loops>
        <name>Loop_Through_Apex_Email_Notifications</name>
        <label>Loop Through Apex Email Notifications</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>ApexEmailNotifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>402</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User_Email_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Apex_Email_Notifications.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Apex_Email_Users</name>
        <label>Retrieve Apex Email Users</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Apex_Email_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ApexEmailNotification</object>
        <outputReference>ApexEmailNotifications</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Silent_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Error_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexEmailNotifications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApexEmailNotification</objectType>
    </variables>
    <variables>
        <name>ApexEmailUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmailAddressEmpty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
